div.home {
    text-align:center;
    min-height: 300px;
}


div.home div.home_center {
    display: inline-block;
    vertical-align: middle;
}

div.home div.home_center img {
    max-width: 60%;
}


p.title {
    font-family: 'jua', 'Nanum Gothic Coding';
    font-weight: normal;
}

p.size_20 {
    font-size: 20pt;
}