{% extends "myblog/main.html" %}
{% load staticfiles %}

{% block title %} {% endblock %}

{% block extrastyle %}
    <link href="{% static 'css/myblog/home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block home %}
    <br/>

    <div class="home width_80p">
        <div class="home_center">
            <img id="main_img" />
        </div>
    </div>

{% endblock %}



{% block extrascript %}
    <script src="{% static 'js/set_main_img.js' %}"></script>
    <script src="{% static 'js/get_category.js' %}"></script>
{% endblock %}