{% extends "base.html" %}

{% block title %} main {% endblock %}

{% load staticfiles %}
{%  block extrastyle %}
    <link href="/static/css/myblog/main.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
    <div class="content-1" style="margin-top:50px;">
        <div class="col-md-3" style="margin-top: 100px;">
            <div class="user1">
                <div class="user1-title">개발 도장깨기</div>
                <div class="user1-name"> </div>
                <div class="user1-desc">⚒️ !! 뿌수자 개발 !! ⚒️</div>
            </div>


            <div class="user2">
                hans12312@naver.com
            </div>
            <div id="category">
            </div>
        </div>

        <div class="col-md-9">
            <div id="nav">
                <nav>
                    <ul>
                        <li><a href="#"></a></li>
                        <li class="selected"><a href="{% url 'main' %}">Home</a></li>
                        <li><a href="{% url 'category:index' 0 %}">Post</a></li>
                        <li><a href="{% url 'post:tags' %}">Tag</a></li>
                        <li> <a href="#"></a></li>
                    </ul>
                </nav>
            </div>

            <hr class="black_hr" style="width:80%;"/>
            <div class="posts" style="margin-top: 60px;">
                {% block home %}{% endblock %}
                {% block post-list %}{% endblock %}
                {% block post %}{% endblock %}
                {% block tag-list %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/get_category.js"></script>
{% endblock %}