{% extends "base.html" %}
{% load staticfiles %}

{% block title %} {% endblock %}


{% block extrastyle %}
{% endblock %}


{% block content %}
    <div class="content-1" style="margin-top:50px;">
        <div class="col-md-3" style="margin-top: 100px;">
            <div class="outer" style="margin-right:10%; background: #F1F8FF;">
                <div class="center">
                    <div class="inner">
                        <div class="profile">
                            <div class="user1">
                                <div class="user1-title">개발 도장깨기</div>
                                <div class="user1-name "></div>
                                <div class="user1-desc">⚒️ !! 뿌수자 개발 !! ⚒️</div>
                            </div>


                            <ul class="profile">
                                <li>
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    한성혜
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    &nbsp;Seoul
                                </li>
                                <li>
                                    <i class="fa fa-building"></i>
                                     CAFE24 CMC3
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o">
                                    </i>
                                    hans12312@naver.com
                                </li>
                                <li>
                                    <i class="fa fa-github"></i>
                                    <a href="https://github.com/hanseonghye" target="_blank">
                                        github.com/hanseonghye</a>
                                </li>
                            </ul>

                            <div id="category">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="nav">
                <nav>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'post:per' %}">Post</a></li>
                        <li><a href="{% url 'post:tags' %}">Tag</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </nav>
            </div>

            <hr class="white_hr" style="width:80%;"/>
            <div class="posts" style="margin-top: 60px;">
                {% block home %}{% endblock %}
                {% block post-list %}{% endblock %}
                {% block post %}{% endblock %}
                {% block tag-list %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer" class="pink"></footer>
{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/get_category.js' %}"></script>
{% endblock %}