{% load custom_tags %}
<p class="cate title">
    <a href="{% url 'category:index' 0 %}">
    _ALL ({{ all_count }})
    </a>
</p>
{% for category in categorys %}

    {% if category.level == 0 %}
        {% define 'font-weight:bold;' as style %}
    {% else %}
        {% define 'padding-left:10px;' as style %}
    {% endif %}

    <p class="cate category" style="{{ style }}">
        <a href="{% url 'category:index' category.pk %}">
            {{ category.name }} ({{ category.posts_count }})
        </a>
    </p>
{% endfor %}
