venv/*
venv2/*
static2/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
__pycache__/*
.idea/*
key.json
key2.json
settings.json
local_settings.py
.env
*/migrations/*
log/**
logs/**
nohup.out
media/**
static/css/base.css
static/css/footer.css
static/css/myblog/main.css
restart.sh
