body {
    background: #fff;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


div.gnb {
    font-size: .8rem;
    padding: 1px;
    background-color: #43597D;
    color: #ffffff;
    padding-right: 50px;
}


div.gnb a {
    font-family: 'Nanum Gothic Coding', sans-serif;
    color: #ffffff;
}

div.top_subject{
    margin-bottom: 2em;
    padding: 1em;
    background-color: #D5F2FF;
    opacity: .8;
    color: #fff;
    border-radius: 0;
}


div.top_subject div.center2 {
  display: flex;
  justify-content: center;
}


div.top_subject p.post-title {
    font-family: 'jua', sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-top: 0px;
    z-index: 9;
    padding: 40px 0px 0;
    width: auto;
    display: block;
    text-align: center;
    line-height: 35px;
    letter-spacing: 0.8px;
    color: #143597;
    text-shadow: -1px -1px 0px #fff, 2px 2px 0px #fff, 0px 7px 0 #30C0FF;
}

div.top_subject p.padding-right{
    padding-right: 15%;
}

div.top_subject p {
    margin-bottom: 15px;
    font-weight: 200;
}


div.top_subject p.subject2 {
    font-size: .75em;
}


div.post-content {
    width:1000px;
    background-color: #fff;
    margin-bottom: 2em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


div.post-content div.content {
    border-bottom: 2px solid #000;
    padding: 15px;
    margin-bottom: 50px;

}


div.post-content div#disqus {
    width:90%;
}


div.post-content div.wrap-left{
    margin-left : 20px;
}


div.bottom {
    min-height: 200px;
}

div.bottom div.left {
    padding-right:10px;
}

p.bottom-title{
    font-weight: 700;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    border-bottom: 2px solid #000;
    width: 70%;
}


li p.same-line {
    display: inline
}


ul.post-list span.title {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

div#related_posts{
    width:70%;
}


div#related_posts li {
    background-color: #e2fefb;
    padding-left: 10px;
    padding-right: 10px;
}

ul.post-list span.title-right {
    float: right;
}

ul.post-list strong {
    font-weight: 700;
}

