$yellow : #FFEDA5;
$purpleColors: (#E0DDF3, #C9C4E4, #A78EB8, #ccd9ff, #F1F8FF, #43597D, $yellow);
$witheColors: (#ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, $yellow);
$mainColor: $purpleColors;


* {
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-width: 1020px;
    display: block;
    background: nth($mainColor,1);
    height: 100%;
}


nav {
    top: 0;
}

nav ul {
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li:hover {
}

nav ul li {
    top: 0;
    float: left;
    padding: 0;
    height: 50px;
    color: #ffffff;
    background-color: nth($mainColor,6);
    border-bottom: 5px solid $yellow;
}

nav ul li:first-child {
    border-top-left-radius: 5px;
}

nav ul li:last-child {
    border-top-right-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 20px;
    display: inline-block;
    line-height: 60px;
}


nav ul li a:hover {
    font-weight: bold;
    color: $yellow;
}

div.col-md-12 {
    width: 100%;
    float: left;
}

div.col-md-10 {
    width: 83%;
    float: left;
}

div.col-md-9 {
    width: 75%;
    float: left;
}

div.col-md-8 {
    width: 66%;
    float: left;
}

div.col-md-6 {
    width: 50%;
    float: left;
}


div.col-md-4 {
    width: 33%;
    float: left;
}

div.col-md-3 {
    width: 25%;
    float: left;
}

div.col-md-2 {
    width: 16%;
    float: left;
}


div, span, a, p, h3, h4, h5 {
    text-decoration: none;
    color: #000;
    font-family: 'Nanum Gothic Coding', sans-serif;
}


hr.yellow_hr {
    clear: both;
    border: solid 2px $yellow;
}

hr.white_hr {
    clear: both;
    border: solid 2px #fff;
}

hr.black_hr {
    clear: both;
    border: solid 2px #000000;
}

select {
    height: 24px;
    border: 1px solid #444;
    font-size: 100%;
    color: #000;
    vertical-align: middle;
    font-family: "Noto Sans KR", Dotum;
}


option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}


.width_50p {
    width: 50%;
}


.width_80p {
    width: 80%;
}

::selection {
    background: #FC6D6D;
    color: #000;
}


/*@font-face {*/
/*    font-family: 'uljiro';*/
/*    src: url('/static/font/BMEULJIROTTF.ttf') format('truetype');*/
/*}*/


@font-face {
    font-family: 'jua';
    src: url('/static/font/BMJUA_ttf.ttf') format('truetype');
}
@font-face {
    font-family: 'syntax_t';
    src: url('/static/font/Syntax_t.ttf') format('truetype');
}
