<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            base
        {% endblock %}
    </title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{#    <script src="/static/js/home.js"></script>#}

    {% block extrastyle %}
    {% endblock %}

    {% block extrascript %}
    {% endblock %}

</head>
<body>
    <div id="header"></div>
    <div id="content">
        {% block content %}{%endblock %}</div>
    <div id="footer">{% block footer %}{%endblock %}</div>
</body>
</html>