<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            base
        {% endblock %}
    </title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/myblog/category.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.5.11/full-all/ckeditor.js"></script>
    {% block extrastyle %}
    {% endblock %}

    {% block extrascript %}
    {% endblock %}

</head>
<body>
    <div id="header"></div>
    <div id="content">
        {% block content %}{%endblock %}</div>
    {% block footer %}{%endblock %}
</body>
</html>