{% extends "base.html" %}

{% block title %} post/detail {% endblock %}

{% load staticfiles %}
{%  block extrastyle %}
    <link href="/static/css/post/detail.css" rel="stylesheet" type="text/css">
    <link href="/static/css/myblog/category.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="gnb text-right"></div>
<div class="top_subject">
    <p class="subject1 text-center">{{ post.title }}</p>
    <p class="subject2 text-right padding-right">ins : {{ post.ins_dt }} / upd : {{ post.upd_dt }}</p>
</div>
<div class="post-content">
    <div class="content wrap-left">

        {{ post.formatted_markdown|safe }}
    </div>

    <div id="disqus" class=" wrap-left">
        {% load disqus_tags %}
        {% disqus_show_comments %}
    </div>

    <div class="footer col-md-12">
        <div class="col-md-6">
            <h5>dd</h5>
        </div>
        <div class="col-md-6">
            <p class="category-title">
                Category
            </p>
            <div id="category">
            </div>

        </div>
    </div>

</div>



{% endblock %}

{% block extrascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/get_category.js"></script>
{% endblock %}