{% if posts %}
    {% for day, ps in posts.items %}
        {% if ps %}
            <li class="post-category">
            {% for p in ps %}
                <p class="post-category"><span style="font-family: 'Noto Sans KR';"> >> {{ p.ins_dt | date:'Y-m-d' }}</span></p>

                {% if p.get_tag %}
                    <ul class="tag-list inline">
                        <h4 class="inline post_title padding-right"><a href="{% url 'post:index' p.pk %}">{{ p.title }}</a></h4>
                        {% for tag in p.get_tag %}
                            <li class="inline">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h5 class="inline post_title"><a href="{% url 'post:index' p.pk %}">{{ p.title }}</a></h5>
                {% endif %}
                <br/>
            {% endfor %}
            <br/>
        {% endif %}
        </li>

    {% endfor %}
{% endif %}